<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	  
<head>
	  <title> Cadastro de Usuário </title>
</head>

<body>
	
	<h1> Cadastrar Usuário </h1>
	
		<form method="post">
			
			Nome: 			<input type="text" value="" name="nome"/>
			CPF: 			<input type="text" value="" name="local"/>
			Bloco:			<input type="text" value="" name="bloco"/>
			Apartamento:	<input type="number" value="" name="apartamento"/>
			E-mail: 		<input type="text" value="" name="email"/>
			
			<button type="submit"> Salvar </button>

		</form>

</body>

</html>