<!DOCTYPE html>

<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	  
<head>

	  <title> Cadastro de Empresa </title>

</head>

<body>
	
	<h1> Cadastrar Empresa </h1>
	
		<form method="post">
			
			Nome: 			<input type="text" value="" name="nome"/>
			CNPJ: 			<input type="text" value="" name="cnpj"/>
			Local:			<input type="text" value="" name="local"/>
			E-mail: 		<input type="text" value="" name="email"/>
			
			<button type="submit"> Salvar </button>

		</form>

</body>

</html>