 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("../images/image9.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 441px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  margin: 25px auto 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 1.25rem;
  background-image: none;
  margin: 144px 470px 60px auto;
  padding: 8px 33px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 364px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 270px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 279px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 50px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 209px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 132px;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.85), rgba(0,0,0,0.85)), url("../images/image1.png");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 520px;
}

.u-section-2 .u-table-1 {
  margin-top: 11px;
  margin-bottom: 0;
}

.u-section-2 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-cell-5 {
  border-style: solid;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 400px;
  }
}