.u-section-1 .u-sheet-1 {
  min-height: 1305px;
}

.u-section-1 .u-text-1 {
  margin: 66px 0 0;
}

.u-section-1 .u-image-1 {
  width: 622px;
  height: 592px;
  margin: -764px 0 172px auto;
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 514px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    width: 340px;
    height: 324px;
  }
}