 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.85), rgba(0,0,0,0.85)), url("images/image1.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 454px;
}

.u-section-1 .u-image-1 {
  width: 77px;
  height: 77px;
  margin: 48px auto 0 17px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: -24px auto 60px 111px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: -80px;
  }
}